<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="header">
<header class="header">
    <div class="container-inner">
        <div class="logo">
            <a href="/home"><img src="/images/main_logo.png" alt="Main Logo"></a>
        </div>
        <nav class="nav" id="mainNav">
            <form method="get" action="/search" class="search-form d-inline-block">
                <div class="d-flex">
                    <input type="text" name="q" class="form-control" placeholder="Search..." maxlength="20">
                    <button type="submit" class="btn btn-search">
                        <img width="32" height="32" src="/images/icon_search2.png" alt="검색하기" />
                        <span class="icon-search"></span>
                    </button>
                </div>
            </form>
            <a href="/home">홈</a>
            <a href="/team">프로젝트 소개</a>
            <a href="/intro">팀 소개</a>
            <a href="/suggestion">문의</a>
            <!-- 드롭다운 메뉴 추가 -->
            <div class="dropdown">
                <button id="userMenuButton">▼</button>

                <div class="dropdown-content" id="userMenu">
                    <!--/* 로그인 후 메뉴 (session.loggedInUser가 null이 아닐 때) */-->
                    <th:block th:if="${#strings.isEmpty(session.loggedInUser)}">
                        <a href="/login" id="loginLink">로그인</a>
                    </th:block>
                    <th:block th:if="${session.loggedInUser != null}">
                        <th:block th:switch="${session.loggedInUser.roleId}">
                            <!--/* 관리자 상태 (roleId가 2일 때) */-->
                            <th:block th:case="2">
                                <a href="/admin/create/store" id="createLink">가게 등록</a>
                                <a href="/admin/register/owner" id="registerLink">사장 등록</a>
                                <a href="/editprofile" id="profileLink">내 정보 페이지</a>
                                <a href="/logout" id="logoutLink">로그아웃</a>
                            </th:block>
                            <!--/* 일반 유저 상태 (roleId가 2가 아닐 때) */-->
                            <th:block th:case="*">
                                <a href="/editprofile" id="profileLink">내 정보 페이지</a>
                                <a href="/logout" id="logoutLink">로그아웃</a>
                            </th:block>
                        </th:block>
                    </th:block>
                </div>
            </div>
        </nav>
    </div>
</header>
</th:block>



</body>
</html>
